body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4vw;
  font-weight: 300;
}

body, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  background: url(../img/sample2.jpg) no-repeat center/cover;
  color: #ffffff;
  text-align: center;
  padding: 3em;
  font-weight: 400;
}

.wrap-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.menu {
  display: flex;
}

.log-menu {
  width: 16%;
  justify-content: space-between;
}

.main-menu {
  justify-content: space-around;
}

.main-menu-item {
  width: 15%;
  padding: 0.6em;
  border: 2px solid #ffffff;
}

.main-menu-item:hover {
  cursor: pointer;
}

.header-heading {
  margin-top: 4.7em;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.header-heading > span {
  font-size: 1.6em;
}

.header-text {
  text-transform: capitalize;
}

.nav {
  margin-top: 12em;
}

/* main */
.main {
  background-color: #f3f3f3;
}

.main-triangle {
  height: 16em;
  background-image: linear-gradient(
    to top right, transparent 50%, #000000 50%);
}

.text {
  width: 50%;
  height: 50%;
  padding: 1em;
  box-sizing: border-box;
}

.text-right {
  margin-left: auto;
  color: white;
  font-weight: 400;
}

.text-left {
  font-size: 1.3em;
}

.text-left > span,
.section-heading > span {
  font-weight: 400;
}

/* section */

.section {
  text-align: center;
}

.section-heading {
  font-weight: 300;
  margin-top: -1.5em;
  margin-bottom: 1.7em;
}

.article {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
}

.article:nth-child(2n+1) {
  flex-direction: row-reverse;
  padding-bottom: 3em;
}

.article-pic, .article-text {
  width: 50%;
}

.article-pic {
  height: 27vw;
  position: relative;
  color: white;
}

.article-pic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
      to right, #9e9e9e, transparent 10%, transparent 90%, #9e9e9e);
  opacity: .5;
}

.item-likes {
  font-weight: 400;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  padding: 0.6em;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.item-data {
  font-weight: 400;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.article:nth-child(even) > .article-text{
  padding: 1.5em 1em 1em 5em;
}

.article:nth-child(odd) > .article-text{
  padding: 1.5em 5em 1em 1em;
}

.news {
  background-color: #ffffff;
}

.news-list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 3em;
}

.news-item {
  width: 22%;
  overflow: hidden;
}

.news-item > img {
  height: 100%;
  width: auto;
}

.btn {
  border: none;
  padding: .8em;
  font-size: 1em;
  color: #ffffff;
  background-color: #097774;
}

.btn:hover {
  cursor: pointer;
}

.item-full-btn {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  opacity: .7;
}

.load-news-btn {
  width: 25%;
  margin-bottom: 2em;
}

.subscribe {
  padding: 3em 1.5em;
}

.form-container {
  width: 50%;
  margin-left: auto;
  padding: .5em;
}

.subscribe-label {
  font-size: 1.2em;
  font-weight: 500;
  padding-right: .5em;
}

.subscribe-label > span,
.subscribe-btn {
  font-weight: 600;
}

.subscribe-input {
  width: 23%;
  border: 1px solid;
  padding: .5em;
}

footer {
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 1em 0;
  color: #9e9e9e;
}

.footer-menu-item {
  padding: 1em 0.5em;
}

.footer-menu-item:last-of-type {
  padding-right: 0;
}

.footer-menu-item:hover {
  background-color: #f3f3f3;
}

.footer-menu-item > a {
  color: black;
}


