$main-font: 'Fresca', sans-serif;
$body-bg-color: #21232e;
$body-color: #ffffff;
$btn-bg-color: #e3ac00;
$underline-color: #ff4e33;
$section-card-background: #3b3f50;
$footer-background: #3b3f50;
$section-card-color: #ffffff;
$footer-color: #ffffff;
$background-img: url(..//img/m-h-night.jpg);
$linear-gradient: linear-gradient(to right, #e2aa02, #932e51);