$main-font: 'Hind', sans-serif;
$body-bg-color: #ffffff;
$body-color: #000000;
$btn-bg-color: #699900;
$underline-color: #14a0c7;
$section-card-background: #21232e;
$footer-background: #21232e;
$section-card-color: #ffffff;
$footer-color: #ffffff;
$background-img: url(..//img/m-h-day.jpg);
$linear-gradient: linear-gradient(to right, #679709, #2e5cd8);